{
  "debug": false,
  "urls": [
    "https://www.digikala.com/search/vehicles/?th_no_track=1",
    "https://www.digikala.com/search/vehicles/?th_no_track=3"
  ],
  "thread_cnt": 4,
  "times": {
    "alpha": 0.05,
    "base": 0.5
  }
}
