{
	"debug": false,
	"headless": true,
	"urls": ["https://api.digikala.com/v1/categories/headphone/search/"],
	"thread_cnt": 4,
	"times": {
		"alpha": 0.1,
		"base": 0.5,
		"short_delay": 6
	},
	"executable_path": "/usr/local/bin/chromedriver#{}",
	"participants": 3,
	"retry_count": 22,
	"max_search_page": 100
}
