{
	"debug": false,
	"headless": false,
	"urls": [
		"https://api.digikala.com/v1/categories/cell-phone-screen-guard/search/?th_no_track=1"
	],
	"thread_cnt": 4,
	"times": {
		"alpha": 0.1,
		"base": 1,
		"short_delay": 6,
		"page_timeout": 8
	},
	"executable_path": "/usr/local/bin/chromedriver#{}",
	"participants": 1,
	"retry_count": 11,
	"max_search_page": 100,
	"image_similarity_threshold": 0.6,
	"diff_color_max_distance": 22
}
